{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Kashima - wschodni masaż</title>
        <!-- Favicons-->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/apple-touch-icon-114x114.png' %}">
        <!-- Web Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- Plugins-->
        <link href="{% static 'assets/css/plugins.min.css' %}" rel="stylesheet">
        <!-- Template core CSS-->
        <link href="{% static 'assets/css/template.css' %}" rel="stylesheet">
    </head>
    <body>

        <!-- Preloader-->
        <div class="page-loader">
            <div class="page-loader-inner">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Preloader end-->

        <!-- Preloader-->
        <div class="page-loader">
            <div class="page-loader-inner">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Preloader end-->

        <!-- Header-->
        <header class="header header-transparent">
            <div class="container-fluid">
                <!-- Brand-->
                <div class="inner-header"><a class="inner-brand" href="{% url 'app:home' %}">Kashima</a></div>
                <!-- Navigation-->
                <div class="inner-navigation collapse">
                    <div class="inner-nav onepage-nav">
                        <ul>
                            <li><a href="{% url 'app:home' %}"><span class="menu-item-span">Wróć na stronę główną</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="extra-nav">
                    <ul>
                        <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
                        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Header end-->

        <!-- Wrapper-->
        <div class="wrapper">
            <!-- Hero-->
            <section class="module-cover parallax text-center" data-background="{% static 'assets/images/blog_detail.jpg' %}" data-overlay="0.3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ post.title }}</h2>
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Dom</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'app:blog_list' %}">Blog lista</a></li>
                                <li class="breadcrumb-item active">Dane posta</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero end-->

            <!-- Blog-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <!-- Post-->
                            <article class="post">
                                <div class="post-preview"><img src="{% static 'assets/images/blog/module-17.jpg' %}" alt=""></div>
                                <div class="post-wrapper">
                                    <div class="post-header">
                                        <h1 class="post-title">{{ post.title }}</h1>
                                        <ul class="post-meta">
                                            <li>{{ post.added_at }}</li>
                                        </ul>
                                    </div>
                                    <div class="post-content">
										{{ post.description|linebreaks }}
                                    </div>
                                    <div class="post-footer">
                                        <div class="post-tags"><a href="#">Masaże</a><a href="#">Masażyści</a><a href="#">Warszawa</a><a href="#">Kashima</a></div>
                                    </div>
                                </div>
                            </article>
                            <!-- Post end-->

                            <!-- Comments area-->
                            <div class="comments-area m-b-50">
                                <h5 class="comments-title">3 Komentarze</h5>
                                <div class="comment-list">
                                    <!-- Comment-->
                                    <div class="comment">
                                        <div class="comment-author"><img class="avatar" src="{% static 'assets/images/avatar/user-9.jpg' %}" alt=""></div>
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author"><a href="#">Dawid Kosmala</a></div>
                                                <div class="comment-meta-date"><a href="#">May 5, 2018 at 4:51 am</a></div>
                                            </div>
                                            <div class="comment-content">
                                                <p>Świetny blog o masażu serdecznie każdemu polecam czytanie na bieżąco wszystkich tematów</p>
                                            </div>
                                            <div class="comment-reply"><a href="#">Odpowiedz</a></div>
                                        </div>
                                        <!-- Subcomment-->
                                        <div class="children">
                                            <div class="comment">
                                                <div class="comment-author"><img class="avatar" src="{% static 'assets/images/avatar/user-11.jpg' %}" alt=""></div>
                                                <div class="comment-body">
                                                    <div class="comment-meta">
                                                        <div class="comment-meta-author"><a href="#">Kamila Pawełek</a></div>
                                                        <div class="comment-meta-date"><a href="#">May 5, 2017 at 4:51 am</a></div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Osobiście sądzę że Kashima jest jednym z najlepszysz studiów masażu a ten blog jest naprawdę świetnym dodatkiem.</p>
                                                    </div>
                                                    <div class="comment-reply"><a href="#">Odpowiedz</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Comment-->
                                    <div class="comment">
                                        <div class="comment-author"><img class="avatar" src="{% static 'assets/images/avatar/user-12.jpg' %}" alt=""></div>
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-meta-author"><a href="#">Natalia Wojdała</a></div>
                                                <div class="comment-meta-date"><a href="#">May 5, 2016 at 4:51 am</a></div>
                                            </div>
                                            <div class="comment-content">
                                                <p>Świtny temat, jak masaże to tylko w studiu Kashima!</p>
                                            </div>
                                            <div class="comment-reply"><a href="#">Odpowiedz</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-respond">
                                    <h5 class="comment-reply-title">Dodaj komentarz</h5>
                                    <p class="comment-notes">Twój adres e-mail nie będzie opublikowany, wymagane pola są zaznaczone.</p>
                                    <form class="comment-form row">
                                        <div class="form-group col-md-4">
                                            <input class="form-control" type="text" placeholder="Name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input class="form-control" type="text" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input class="form-control" type="url" placeholder="Website">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <textarea class="form-control" rows="8" placeholder="Comment"></textarea>
                                        </div>
                                        <div class="form-submit col-md-12">
                                            <button class="btn btn-dark" type="submit">Dodaj komentarz</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Comments area end-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog end-->

            <!-- Footer-->
            <footer class="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Text widget-->
                                <aside class="widget widget-text">
                                    <div class="widget-title">
                                        <h6>O nas</h6>
                                    </div>
                                    <div class="textwidget">
                                        <p>Kashima to studio masażu wschodniego zlokalizowane parę minut od w centrum Warszawy. Dbamy o najlepszy masaż dla każdego naszego klienta.</p>
                                        <p>
                                            Lokalizacja: Warszawa 01-267, ul. Jana Kazimierza 47/75<br>
                                            E-mail: biuro@kashima.pl<br>
                                            Phone: (+48) 511-637-075<br>
                                        </p>
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-md-6">
                                <!-- Recent entries widget-->
                                <aside class="widget widget-recent-entries">
                                    <div class="widget-title">
                                        <h6>Tematy na naszym blogu:</h6>
                                    </div>
                                    <ul>
										{% for title in query_post_title %}
                                        <li><a href="{% url 'app:post_detail' title.id %}">{{ title.title }}</a><span class="post-date">{{ title.added_at }}</span></li>
										{% endfor %}
									</ul>
                                </aside>
                            </div>
                            <div class="col-md-3">
                                <!-- Recent works-->
                                <aside class="widget widget-recent-works">
                                    <div class="widget-title">
                                        <h6>Nasi masażyści</h6>
                                    </div>
                                    <ul>
										{% for masseur in query_masseur %}
										<li><a href="{% url 'app:masseur_detail' masseur.id %}"><img src="{{ masseur.basic_photo.url }}" alt=""></a></li>
										{% endfor %}
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>© 2019 Kashima, Studio Masażu Wschodniego. Wszystkie prawa zastrzeżone.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer end-->
        </div>
        <!-- Wrapper end-->
        <!-- Off canvas-->
        <div class="off-canvas-sidebar">
            <div class="off-canvas-sidebar-wrapper">
                <div class="off-canvas-header"><a class="off-canvas-close" href="#"><span class="ti-close"></span></a></div>
                <div class="off-canvas-content">
                    <!-- Text widget-->
                    <aside class="widget widget-text">
                        <div class="textwidget">
                            <p class="text-center"><img src="{% static 'assets/images/logo-light-2.png' %}" alt="" width="80px"></p>
                            <p class="text-center">Poznaj najlepszych masażystów w Warszawie</p>
                        </div>
                    </aside>
                    <!-- Recent portfolio widget-->
                    <aside class="widget widget-recent-works">
                        <ul>
							{% for masseur in query_masseur %}
                            <li><a href="{% url 'app:masseur_detail' masseur.id %}"><img src="{{ masseur.basic_photo.url }}" alt=""></a></li>
							{% endfor %}
                        </ul>
                    </aside>
                    <!-- Social Icons-->
                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Off canvas end-->

        <!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>

        <!-- Scripts-->
        <script src="{% static 'assets/js/custom/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/custom/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/custom/plugins.min.js' %}"></script>
        <script src="{% static 'assets/js/custom/custom.min.js' %}"></script>
    </body>
</html>